.heading{
    background-color: #A92122
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 5%;
}

.content_main{
    color: #A21E1F;
    padding-left: 10% ;
    padding-right: 10%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.Goals{
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer{
    background-color: #A21E1F;
    text-align: center;
    color: #EDEAEB;
    font-weight: 100;
    line-height: 2rem;
    padding: 20px;
  }
  .tagLineFooter{
    font-size: 15px;
  }
  .brandFooter{
    font-size: 24px;
  }
  .privacyPolicy{
    color: #EDEAEB;
  }
  
 
  *{
    font-family: "Inter";
  }
  body {
      margin: 0;
  }
  
  
  header {
      background-color: #b10202;
  }


@media (max-width: 768px) {
  .Founders .container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .Founders .container .row {
      flex-direction: column-reverse; 
      align-items: center;
  }

  .Founders .container img {
      margin: 0 auto;
      display: block;
      height: auto;
  }
}

.navbar{
  background-color: #A21E1F;
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-style: normal;
  font-weight:normal;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
}


.navbar-nav .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #F5A8A9; 
}


.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px; 
  left: 50%; 
  background-color: #F5A8A9;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

