.text{
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing:auto;
    font-style: normal;
    font-weight:normal;
}

.card{
    background-color: #A21E1F;
}

.amtn{
    transition: .5s;
}

.amtn:hover{
    transform: scale(1.1);
    z-index: 1;
}

.navbar{
    background-color: #A21E1F;
    font-family: "Inter", sans-serif;
    font-optical-sizing:auto;
    font-style: normal;
    font-weight:normal;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: white;
}

/* Navbar Links - Hover Animation */
.navbar-nav .nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #F5A8A9; /* Highlight color */
}

/* Underline Animation (Expands from center) */
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px; /* Adjust to position the underline */
    left: 50%; /* Start from the center */
    background-color: #F5A8A9;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%; /* Expand to full width */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.footer{
    background-color: #A21E1F;
    text-align: center;
    color: #EDEAEB;
    font-weight: 100;
    line-height: 2rem;
    padding: 20px;
  }
  .tagLineFooter{
    font-size: 15px;
  }
  .brandFooter{
    font-size: 24px;
  }
  .privacyPolicy{
    color: #EDEAEB;
  }