/*updated navbar*/
/* General styles */


.inter-bod{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Inter';
}


.navbar{
  background-color: #A21E1F;
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-style: normal;
  font-weight:normal;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
}

/* Navbar Links - Hover Animation */
.navbar-nav .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #F5A8A9; /* Highlight color */
}

/* Underline Animation (Expands from center) */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px; /* Adjust to position the underline */
  left: 50%; /* Start from the center */
  background-color: #F5A8A9;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%; /* Expand to full width */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



  /* Header Section */
.header {
  text-align: center;
  padding: 2rem;
  
  font-family: "Inter";
  color: #b10202;
}
.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p1{
  width: 500px;
  align-self: center;
}
.header h1 {
  color: #b10202;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header button {
  background-color: #b10202;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 1rem;
  height: 40px;
  width: 200px;
}

.header-images {
    display: flex;
    justify-content: center;
    
    align-items: center;
    position: relative;
}



.side-image {
  width: 500px;
  height: auto;
  border-radius: 10px;
  
  position: relative;
  top: -80px; /* Elevate the side images */
  z-index: 1;
}

.middle-image {
  width: 500px;
  height: auto;
  border-radius: 10px;
  
  position: relative;
  top: 80px; /* Lower the middle image */
  z-index: 2; /* Bring the middle image to the front */
}

.image-container:nth-child(1) {
  margin-right: -30px; /* Overlap left side image */
}

.image-container:nth-child(3) {
  margin-left: -30px; /* Overlap right side image */
}



/* Eclectic Personalities Section */
.eclectic-personalities {
  text-align: center;
  padding: 2rem;
}

.eclectic-personalities h2 {
  color: #b10202;
  font-size: 1.8rem;
}
.eclectic-personalities .ep-p2 {
  color: #b10202;
  
}

.ep-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ep-p2{
  width: 900px;
  align-self: center;

}


.profiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.profile1 {
  display: flex;
  width: 600px;
  padding: 1rem;
  background-color: #b10202;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  align-self: flex-start;
}
proflie1-right p{
  color: #fff;
}
.profile1 img {
  width: 200px;
  border-radius: 20px;
}

.profile1-right{
  width: 500px;
}

.profile1 button {
  background-color: #fff;
  color: #b10202;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

/*second profile*/

.profile2 {
  display: flex;
  width: 600px;
  padding: 1rem;
  background-color: #b10202;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  align-self: flex-end;
}
proflie2-right p{
  color: #fff;
}
.profile2 img {
  width: 200px;
  border-radius: 20px;
}

.profile2 button {
  background-color: #fff;
  color: #b10202;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}
/*third profile*/
.profile3 {
  display: flex;
  width: 600px;
  padding: 1rem;
  background-color: #b10202;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  align-self: flex-start;
}
proflie3-right p{
  color: #fff;
}
.profile3 img {
  width: 200px;
  border-radius: 20px;
}

.profile3 button {
  background-color: #fff;
  color: #b10202;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}
/* Profile Building Process Section */
.profile-building {
  padding: 2rem;
  text-align: center;
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.process-item {
  width: 850px;
  height: 300px;
  /* background-color: #919c9f; */
  
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-self: center;
}
.left-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b10202;
  color: white;
  border-radius: 20px;
}
.left-text p{
  padding-left: 40px;
  padding-right: 40px;
}
.process-item button {
  background-color: white;
  color: #b10202;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  width: 200px;
  align-self: center;
}

.right-img {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.right-img img {
  width: 49%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.process-item img {
  
  width: 320px;
  border-radius: 20px;
}
.process-item.ssp.left-text h2{
  margin-top: 25px;

}
.process-item.ssp button{
  margin-bottom: 20px;
}


.profile-building {
  padding: 2rem;
  text-align: center;
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.process-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
  height: 300px;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  gap: 1rem;
}

.left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b10202;
  color: white;
  border-radius: 20px;
  padding: 20px;
}

.right-img {
  width: 320px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/*footer*/
.footer{
  background-color: #b10202;
  text-align: center;
  color: #EDEAEB;
  font-weight: 100;
  line-height: 2rem;
  padding: 20px;
}
.tagLineFooter{
  font-size: 15px;
}
.brandFooter{
  font-size: 24px;
}
.privacyPolicy{
  color: #EDEAEB;
}



.row.align-items-center{
  display: flex;
  justify-content: center;
  gap: 2rem;
}


/*responsive styles*/


@media (max-width: 768px) {
  .eclectic-personalities {
    padding: 1rem;
  }

  .eclectic-personalities h2 {
    font-size: 1.5rem;
  }

  .ep-text {
    width: 90%;
    margin: 0 auto;
  }

  .ep-p2 {
    font-size: 1rem;
    padding: 0 1rem;
    width: 100%;
  }

  .process-item {
    flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center;
  }

  .left-text {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .right-img {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }

  .process-item button {
    margin-top: 1rem;
  }

  .profiles {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .profile1, .profile2, .profile3 {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile1 img, .profile2 img, .profile3 img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 1rem;
  }

  .profile1-right, .profile2-right, .profile3-right {
    width: 100%;
  }

  .header h1 {
      font-size: 2rem;
  }
  .navbar {
      padding: 10px;
  }
  .navlinks li {
      margin: 0 10px;
  }
  .profile1, .profile2, .profile3, .process-item {
      width: 100%;
  }
  .process-item {
      flex-direction: column;
  }
  .left-text, .right-img {
      width: 100%;
      padding: 10px;
  }
}

@media (max-width: 480px) {
  .eclectic-personalities h2 {
    font-size: 1.2rem;
  }

  .left-text {
    padding: 10px;
    font-size: 0.9rem;
  }

  .process-item {
    gap: 1rem;
  }

  .process-item button {
   
    padding: 0.5rem;
  }
  .ep-p2 {
    font-size: 0.9rem;
  }
  .logo a {
      font-size: 20px;
  }
  .navlinks {
      flex-direction: column;
  }
  .navlinks li {
      margin: 10px 0;
  }
  .header h1 {
      font-size: 1.5rem;
  }
  .header button {
      width: 100%;
  }
  .process-item {
      flex-direction: column;
      width: 100%;
  }
}


@media (max-width: 1024px) {
  .process-item {
    flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center;
    gap: 1rem;
  }

  .left-text {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .right-img {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }

  .process-item button {
   
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  .eclectic-personalities {
    padding: 1rem; 
  }

  .eclectic-personalities h2 {
    font-size: 1.5rem; 
  }

  .ep-text {
    flex-direction: column; 
    text-align: center;
  }

  .ep-p2 {
    width: 100%; 
    padding: 1rem 1rem; 
  }

  .profiles {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .profile1, .profile2, .profile3 {
    width: 100%;
    padding: 1rem;
    flex-direction: column; 
    text-align: center; 
  }

  .profile1 img, .profile2 img, .profile3 img {
    width: 80%; 
    margin-bottom: 1rem;
  }

  .profile1 button, .profile2 button, .profile3 button {
    width: 100%; 
    margin-top: 1rem; 
  }
}

@media (max-width: 825px) {
  

  .ep-p2 {
    width: 80%; 
    padding: 1rem 1rem; 
  }
}
@media (max-width: 930px) {
  

  .ep-p2 {
    width: 80%; 
    padding: 1rem 1rem; 
  }
}

/*updated navbar*/
/*updated navbar*/
/* General styles */
/* body {
  margin: 0;
}


.inter-navbar {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Inter';
  background-color: #b10202;
}

.logo a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.navlinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlinks li {
  margin: 0 15px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.navlinks li a:hover {
  color: #919c9f;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  transition: color 0.3s;
}

.navlinks li a:hover {
  color: #919c9f;
}

.navlinks li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: grey;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navlinks li a:hover::after {
  transform: scaleX(1);
}


/* Responsive styles */
/* @media (max-width: 768px) {
  .navlinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #b10202;
    padding: 10px;
    border-radius: 5px;
  }

  .navlinks.active {
    display: flex;
  }

  .navlinks li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
    
  }
} */ 


/*updated 2*/

/* General styles */
body {
  margin: 0;
}



.inter-navbar {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Inter';
  background-color: #b10202;
}

.logo a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.navlinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlinks li {
  margin: 0 15px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.navlinks li a:hover {
  color: #919c9f;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  transition: color 0.3s;
}

.navlinks li a:hover {
  color: #919c9f;
}

.navlinks li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: grey;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navlinks li a:hover::after {
  transform: scaleX(1);
}


/* Responsive styles */
@media (max-width: 768px) {
  .navlinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #b10202;
    padding: 10px;
    border-radius: 5px;
  }

  .navlinks.active {
    display: flex;
  }

  .navlinks li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  
}

/* Responsive Design for Tablets */


@media (max-width: 1024px) {
  .image-container img {
    max-width: 335px; /* Reduce image size for tablets */
  }

  .side-image {
    top: -40px; /* Reduce elevation */
  }

  .middle-image {
    top: 40px; /* Reduce lowering */
  }
}
/*mobile screens*/
@media (max-width: 768px) {
  .header-images {
    top: 55px;
    flex-direction: column; /* Stack images vertically */
    align-items: center;
  }

  .image-container img {
    max-width: 90%; /* Reduce width for smaller screens */
  }

  .side-image, .middle-image {
    position: static; /* Reset position adjustments */
  }

  .image-container:nth-child(1),
  .image-container:nth-child(3) {
    margin: 0; /* Remove overlap for side images */
  }
}

@media (max-width: 825px) {
  .image-container img {
    max-width: 280px; /* Reduce image size for tablets */
  }

  .side-image {
    top: -40px; /* Reduce elevation */
  }

  .middle-image {
    top: 40px; /* Reduce lowering */
  }
}

@media (max-width: 930px) {
  .image-container img {
    max-width: 320px; /* Reduce image size for tablets */
  }

  .side-image {
    top: -40px; /* Reduce elevation */
  }

  .middle-image {
    top: 40px; /* Reduce lowering */
  }
}

@media (max-width: 430px) {
  .header-images {
    top: 55px;
    flex-direction: column; /* Stack images vertically */
    align-items: center;
  }

  .image-container img {
    max-width: 90%; /* Reduce width for smaller screens */
  }

  .side-image, .middle-image {
    position: static; /* Reset position adjustments */
  }

  .image-container:nth-child(1),
  .image-container:nth-child(3) {
    margin: 0; /* Remove overlap for side images */
  }
}

@media (max-width: 855px) {
  .image-container img {
    max-width: 275px; /* Reduce image size for tablets */
  }

  .side-image {
    top: -40px; /* Reduce elevation */
  }

  .middle-image {
    top: 40px; /* Reduce lowering */
  }
}

.align-items-center{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
