.heading{
    color: #A21E1F;
    font-family: "Inter", sans-serif;
    font-optical-sizing:auto;
    font-style: normal;
    font-weight:normal;
    padding-top: 35%;
    font-size: 43px;
}

body{
    margin: 20px;
    padding: 0px;
}



.display-5{
    color: #A21E1F;
    padding-left: 10% ;
    padding-right: 10%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.geogebra{
    color: white;
    padding-left: 10% ;
    padding-right: 10%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.webdev{
    color: white;
    padding-left: 10% ;
    padding-right: 10%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.Vpic{
    width: 78%;
    border-radius: 15%;
    
}

.Spic{
    width: 80%;
    border-radius: 15%;
}

.pic{
    width: 90%;
    border-radius: 15%;
}


.container {
    margin: auto;
    padding: 1rem;
}


img {
    max-width: 100%;
    height: auto;
}


.heading, .display-5 {
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .heading, .display-5 {
        font-size: 2rem;
    }

    .container, .p-4 {
        padding: 1rem;
    }

    .btn {
        width: 100%; 
    }
    
    .col-lg-6, .col-10 {
        margin-bottom: 1rem; 
    }
}


@media (max-width: 576px) {
    .heading, .display-5 {
        font-size: 1.5rem;
    }

    .lead {
        font-size: 1rem;
    }

    img {
        width: 100%; 
        justify-content: center;
    }

.button button {
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    display: inline-block;
    width: auto; 
}


@media (max-width: 780px) {
    .button {
        display: flex;
        justify-content: center; 
    }

    .button button {
        width: 80%; 
        font-size: 1rem; 
        padding: 0.5rem 1rem; 
    }
}


@media (max-width: 576px) {
    .button button {
        width: 100%; 
        font-size: 0.875rem; 
        padding: 0.5rem 0.75rem; 
    }
}

.inter-navbar {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    font-family: "Inter";
  }
  body {
      margin: 0;
  }
  
  .navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2px 10px;
      font-family: "Inter";
  }
  
  .logo a{
      font-size: 25px;
      color: white;
      text-decoration: none;
  }
  
  .logo a:hover{
    color: #919c9f;
  }
/* 
  .logo a::after {
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: -5px; 
    width: 100%;
    height: 3px; 
    background-color: #c5afaa;
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}


.logo a:hover::after {
    transform: scaleX(1); 
} */
  .navlinks {
      display: flex;
      list-style-type: none;
  }
  
  .navlinks li {
      margin: 0 50px;
      position: relative; 
  }
  
  .navlinks li a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      transition: color 0.3s;
  }
  
  .navlinks li a:hover {
      color: #919c9f; 
  }
  
 
  .navlinks li a::after {
      content: ""; 
      position: absolute; 
      left: 0; 
      bottom: -5px; 
      width: 100%;
      height: 3px; 
      background-color: #c5afaa;
      transform: scaleX(0); 
      transition: transform 0.3s ease;
  }
  
 
  .navlinks li a:hover::after {
      transform: scaleX(1); 
  }
  
  header {
      background-color: #b10202;
  }

  .footer{
    background-color: #b10202;
    text-align: center;
    color: #EDEAEB;
    font-weight: 100;
    line-height: 2rem;
    padding: 20px;
  }
  .tagLineFooter{
    font-size: 15px;
  }
  .brandFooter{
    font-size: 24px;
  }
  .privacyPolicy{
    color: #EDEAEB;
  }
  
  .kattaThemeContinue{
    background-image: url(/images/edgeBg.svg);
    background-size: cover;
    padding: 17% 15% 10% 10%;
  }
  .kattaThemeHeadContinue{
    font-size:50px ;
    font-weight: 600;
    color: #155B53;
    line-height: 3rem;
  }
  .kattaThemeContentContinue{
    font-size: 18px;
    font-weight: 400;
    color: #0E2926;
    padding: 20px;
  }
  .kattaThemeBgTrans{
    position: absolute;
  }
  .kattaThemeHead{
    font-size:50px ;
    font-weight: 600;
    color: #D9E8DD;
    line-height: 3rem;
  }
  .kattaThemeContent{
    font-size: 18px;
    font-weight: 400;
    color: #ACCBB2;
    padding: 40px;
  }
  .kattaThemeCol{
    padding: 20px;
    background-color: #112121;
    border-radius: 20px;
   margin-top: 70px;
   margin-left: 20px;
   margin-right: 30px;
   
  }
  .howContent{
    font-size:30px ;
    font-weight: 600;
    color: #0E2926;
    line-height: 3rem;
    padding: 20% 20% 0 20%;
  }
  .howContentVisit{
    font-size:20px ;
    font-weight: 500;
    color: #155B53;
    
    padding: 0 20%;
  }
  .aHow{
    color: #112121;
    font-weight: 600;
  }
  .howTable{
    background-color:rgb(236,213,172);
    border-radius: 20px;
    padding: 40px 20px;
    margin: 20px 10px;
  }
  
  .howInput{
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    align-items: center;
    
    border: #6ED190;
  }
  .howButton{
    margin: 20px;
    padding: 0 40px;
    color: #0E2926;
  }
  .howButtonHover{
    margin: 20px;
    padding: 0 40px;
    color: #BBE6C3;
    background-color: #0E2926;
  }
  .edges{
    background-image: url(/images/edgeBg.svg);
    background-size: cover;
    color: #112121;
    padding: 5% 15% 10% 10%;
  }
  .kattaEdgesHeading{
    color: #155B53;
    font-size: 50px;
    line-height: 3rem;
    font-weight: 600; 
    padding-bottom: 60px;
    text-align: left;
   
  }
  .kattaEdgesHead{
    color: #155B53;
    font-size: 30px;
    line-height: 3rem;
    font-weight: 500; 
    text-align: left;
    
   
  }
  .kattaEdgesContent{
    color: #0E2926;
    font-size: 18px;
    font-weight: 400;
  }
  
  .row.align-items-center{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }